/*

Project: OxxyFC | UEFN Portfolio
Description: CSS styling for UEFN portfolio
Developer: OxxyUX
Date Created: 22-05-25
Date Modified: 23-05-25

*/

body {
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header {
    max-width: 100%;
    background-color: rgb(27, 27, 27);
    padding: 1%;
}

.header-contents {
    max-width: 1400px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contents {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgb(174, 175, 211);
}


.header-contents-socials {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    align-items: center;
}

.header-contents-socials-item {
    margin: 0 auto;
    size: 1px;
    padding: 10px;
}

.contents-section-selector {
    text-align: center;
    margin-top: 15%;
    display: flex;
    justify-content: center
}

.contents-section-selector-item {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}

.c-s-i {
    max-width: 100%;
    width: 640px;
    height: 360px;
}